:root {
  --main-color: #171504;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  color: var(--main-color);
}

input {
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  display: block;
  height: 40px;
  width: 100px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  transition: .2s all;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: -5px 5px 0px 0px var(--main-color);
  transform: translate(5px, -5px);
}

.main-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-row-gap: 30px;
}

.header {
  grid-area: header;
  padding: 10px 40px;
  color: #fff;
  background-color: var(--main-color);
}

.main-logo {
  text-transform: uppercase;
}

.content {
  grid-area: content;
  max-width: 1800px;
  min-height: calc(100vh - 260px);
  margin: 0 auto;
}

.footer {
  grid-area: footer;
  background-color: var(--main-color);
}

.main-page {
  min-width: calc(100vw - 15px);
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:
    ". pagination-top"
    "filter beerList"
    ". pagination-bottom";
  grid-row-gap: 30px;
}

.pagination-top {
  grid-area: pagination-top;
}
.pagination-bottom {
  grid-area: pagination-bottom;
}

.pagination {
  display: flex;
  align-items: center;
  padding: 0 11px;
}

  .pagination > * {
    margin-right: 30px;
  }

  .pagination > *:last-child {
    margin-right: 0;
  }

  .pagination__page-number {

  }

.beerList {
  min-height: 180px;
  position: relative;
  grid-area: beerList;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
}

.beerList__placeholder-wrap {
  position: absolute;
  left: calc(50% - 50px);
}

.beer-card {
  display: flex;
  padding: 20px;
  margin: 0 10px 20px 10px;
  border: 1px solid #ccc;
  transition: .2s all;
}

.beer-card:hover {
  box-shadow: -5px 5px 0px 0px var(--main-color);
  transform: translate(5px, -5px);
}

  .beer-card__image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 126px;
  }

  .beer-card__info {
    padding: 0 20px;
  }

  .beer-card__name {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 24px;
  }

.filter {
  grid-area: filter;
  padding-left: 50px;
  padding: 0 11px;
}

  .filter li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .filter label {
    flex-shrink: 0;
    width: 160px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .filter li input {
    display: block;
    height: 35px;
    width: 150px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--main-color);
    background-color: #fff;
  }

  .filter input:focus {
    color: #fff;
    background-color: var(--main-color);
    border-radius: 4px;
  }

  .filter .button {
    letter-spacing: 5px;
    width: 100%;
    margin-top: 40px;
  }

.beer-page {
  padding: 0 10px;
  max-width: 1000px;
}

  .beer-page__logo {
    float: right;
    margin: 20px;
  }

  .beer-page__name {
    margin-top: 0;
    font-size: 50px;
  }

  .beer-page__tagline {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
  }

  .beer-page > p {
    font-size: 28px;
  }

  .beer-page__property-name {
    font-size: 26px;
    font-weight: 600;
  }

@media (max-width: 800px) {
  .main-page {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "filter"
      "pagination-top"
      "beerList"
      "pagination-bottom";
  }

  .filter li {
    justify-content: space-around;
  }

  .pagination {
    justify-content: space-between;
  }

  .beerList {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .beer-card {
    padding: 5px;
  }

  .beer-page__logo {
    height: 200px;
    margin: 5px;
  }
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 40px auto;
}
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: var(--main-color);
    float: left;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    animation-delay: 0.2s;
  }
  .sk-cube-grid .sk-cube2 {
    animation-delay: 0.3s;
  }
  .sk-cube-grid .sk-cube3 {
    animation-delay: 0.4s;
  }
  .sk-cube-grid .sk-cube4 {
    animation-delay: 0.1s;
  }
  .sk-cube-grid .sk-cube5 {
    animation-delay: 0.2s;
  }
  .sk-cube-grid .sk-cube6 {
    animation-delay: 0.3s;
  }
  .sk-cube-grid .sk-cube7 {
    animation-delay: 0.0s;
  }
  .sk-cube-grid .sk-cube8 {
    animation-delay: 0.1s;
  }
  .sk-cube-grid .sk-cube9 {
    animation-delay: 0.2s;
  }
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
